<ngx-audio-player-material src="http://aws.bcfellowship.org/MP3/2021/a210113.mp3"
                           poster="https://archives.holsapple.club/images/xpajtoln.png"
                           color="primary"
                           btnColor="accent"
                           class="player"></ngx-audio-player-material>
<ngx-audio-player-material src="http://aws.bcfellowship.org/MP3/2021/a210113.mp3"
                           color="primary"
                           btnColor="accent"
                           class="player"></ngx-audio-player-material>
<ngx-audio-player-material src="http://aws.bcfellowship.org/MP3/2021/a210113.mp3"
                           poster="https://archives.holsapple.club/images/xpajtoln.png"
                           color="accent"
                           class="player"></ngx-audio-player-material>
<ngx-audio-player-material src="http://aws.bcfellowship.org/MP3/2021/a210113.mp3"
                           color="accent"
                           class="player"></ngx-audio-player-material>
